.container {
    width: 940px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container {
    height: 600px;
    width: 825px;
    position: relative;
    overflow: hidden;
}

img {
    height: 600px;
    margin: 0 auto;
}

.img-container:after {
    position: absolute;
    content: "";
    width: 0%;
    height: 100%;
    background: #fff;
    top: 0;
    right: 0;
}
